= render "shared/header"
.main
  .search-board
    .search-text
      = @keyword
      %p のレシピ検索結果
    - @recipes.each do |recipe|
      .recipe-container
        =link_to "#" do
          .image-box
            =image_tag "#{recipe.image}", class: 'image-box__inside'
          =link_to "#" do
            .text-box
              =recipe.text
= render "shared/footer"