= render "shared/header"
.main
  .search-board
    .search-text
      フルーツ
      %p のレシピ検索結果
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp19.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            サクサクトースト♪忙しい朝はこれで決まり！5分で作れるぶ厚目リッチトースト！！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp7.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            暑い夏は南国フルーツで！特性健康ゼリー！！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp14.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            カンガルー肉を使ったダイエットレシピ！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp29.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            柑橘類で痩せる！ミックススムージー！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp28.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            カロリー控えめ。デザートレシピ！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp26.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            畑のバター！アボガドを使ったサラダがおすすめ！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp25.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            パパイヤが効果的！？今年はパパイヤダイエット！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp24.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            さくらんぼパイ！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp23.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            楽チンデザート！柑橘ゼリーレシピ！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp2.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            女子に人気！アボガドとトマトのサラダ！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp21.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            サクサクトースト♪忙しい朝はこれで決まり！5分で作れるぶ厚目リッチトースト！！
    .recipe-container
      =link_to "#" do
        .image-box
          =image_tag "kitchenapp20.jpg", class: 'image-box__inside'
        =link_to "#" do
          .text-box
            サクサクトースト♪忙しい朝はこれで決まり！5分で作れるぶ厚目リッチトースト！！
= render "shared/footer"