.edit-nav{
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .link-box{
    width: 150px;
    height: 150px;
    text-align: center;
    border: solid 2px #f5bf1e;
    border-radius: 5px;
    background-color: white;
    &:hover{
      transform: translateY(-3px);
      transition: all .3s;
    }
    &__icon{
      margin-top: 15px;
      font-size: 60px;
      color: #495057;
    }
    &__text{
      font-size: 13px;
      font-weight: bold;
      color: rgb(131, 129, 129);
      color: black;
    }
  }
}